.our-services {
    display: flex;
    flex-direction: row;
    padding: 80px;
}

.our-services .right-section {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.our-services .right-section h2 {
    margin: 10px 0;
}

.our-services .right-section p {
    margin: 10px 0;
    line-height: 30px;
}

.strenght {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 512px) {
    .our-services {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
    }

    .our-services .right-section {
        display: flex;
        flex-wrap: wrap;
        padding: 0 50px;
        width: 350px;
    }
    
    .our-services .left-section img {
        width: 344px;
        margin: 10px
    }


}