.sidebar {
    display: none;
}

@media screen and (max-width: 512px) {
    .sidebar {
        display: flex;
        flex-direction: row-reverse;
        background-color: #ffffff;
        position: absolute;
        height: 100vh;
        width: 200px;
        z-index: 99;
        right: 0;
    }

    .sidebar span {
        padding: 20px;
        background-color: white;
    }

    .sidebar span:hover {
        color: blue;
    }

    .sidebar span:hover {
        cursor: pointer;
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .nav-mobile a {
        text-decoration: none;
        color: black;
        margin: 20px;
    }

    .nav-mobile a:hover {
        color: blue;
    }
}