.banner {
    background-color: #F1F3FF;
    display: flex;
    /* justify-content: center; */
}

.banner p {
    margin: 10px 0;
    font-weight: 700;
    line-height: 24px;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 150px;
}

.left-section button {
    background: #5CB85F;
    color: #Fff;
    border: none;
    font-weight: 700;
    border-radius: 2px;
    height: 36px;
}

.left-section button:hover{
    cursor: pointer;
    color: black;
}

